@model DogAndPeoples.Models.People

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar ", "Edit", new { id = Model.Id }, new { @class="btn btn-warning" }) |
    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
</p>
